@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background-image: url("background2.jpg");
  background-size: 100% 100%;
}

body {
  min-height: 100%;
  overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
}
h1 {
    font-size: 5.4rem;
    color: #fff;
    margin-bottom: 5rem;
}

h2 {
    color: #fff;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

span{
    color:rgb(0, 0, 0);
    font-size: 20px;
}

/*  */

input {
  display: block;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #efefef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
  }

  input:hover {
    background: #f0e8d1;
    color: #101010;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
  }

  input:after {
    font-family: "Monaco", Monospace;
    font-size: 1em;
    content: attr(data-icon);
    color: rgb(0, 0, 0);
    
  }
  
  input:checked:after{
    color: rgb(28, 145, 255);
    text-rendering: geometricPrecision;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 0 0 0.34em #1da9cc;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
  }

/*  */

.question:not(.active){
    display:none;
}

#wrapper
{
  display: inline;
  padding:50px;
  background-color: rgba(162, 187, 255, 0.507);
  
}

.round {
  border-radius: 10%;
}

.button {
  background-color: #272727; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  padding: 5px 20px;
}