@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
    background-color: rgb(29, 26, 26)
}

body {
  min-height: 100%;
  overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
}
h1 {
    font-size: 5.4rem;
    color: #fff;
    margin-bottom: 5rem;
}

h2 {
    color: #fff;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

span{
    color:white;
}

/*  */

input {
    display: block;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #efefef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
  }

  input:hover {
    background: #d6d6d6;
    color: #101010;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
  }

  input:after {
    font-family: "Monaco", Monospace;
    font-size: 1em;
    content: attr(data-icon);
    color: rgb(0, 0, 0);
    
  }
  
  input:checked:after{
    color: crimson;
    
  }

/*  */

.question:not(.active){
    display:none;
}

#wrapper
{
  border: 1px solid #888;
  display: inline-block;
  padding:20px;
  
}