*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Monaco", Monospace;
  color: #4d0716;
  font-weight: bold;
  font-size: calc(0.7em + 0.7vw);
  background-color: #f5d4df88;
  margin-left: 5%;

}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

label {
  display: flex;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
label input {
  position: absolute;
  left: -9999px;
}
label input:checked + span {
  background-color: #f5d4df88;
}
label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #b43947;
}
label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
label span:hover {
  background-color: #e9bbc788;
}
label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #b43947;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-submit-button {
    font-family: "Monaco", Monospace;
    background:#e9bdc288;
    border-radius: 99em;
    width: 7em;
    height: 3em;
    color: #4d0716;
    border: #fff;
    font-weight: bold;
    font-size: calc(0.5em + 0.6vw);
}
.form-submit-button:hover {
    font-family: "Monaco", Monospace;
    background:#f17d8a88;
    
    width: 7em;
    height: 3em;
    color: #4d0716;
    font-weight: bold;
    font-size: calc(0.5em + 0.6vw);
    border-radius: 99em;
    border: #fff;
}

.inner-switch {
    font-family: "Monaco", Monospace;
    align-self: flex-end;
    display: inline-block;
    cursor: pointer;
    border-radius: 99em;
    border :#fff;
    width: 7em;
    height: 3em;
    background:#a2a1ff88;
    text-align: center;
    font-size: calc(0.5em + 0.5vw);
    padding: 0.1875rem;
    margin-left: 0.3125rem;
    margin-bottom: 0.9125em;
}

.inner-switch:hover {
    font-family: "Monaco", Monospace;
    align-self: flex-end;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0.9125em;
    border-radius: 99em;
    border :#fff;
    width: 7em;
    background:#b7b6fd88;
    height: 3em;
    text-align: center;
    font-size: calc(0.5em + 0.5vw);
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.dark,
.dark body {
    background-color: #222;
    border-color: #e6e6e6;
}
.dark * {
    color: #e6e6e6;
}

.hyperlink_button{
  text-decoration: none;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: cadetblue;
  border-radius: 99em;
}

.hyperlink_button:hover{
    color:#000000;
    background-color:#FFFFFF;
  }