<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="static/new.css">

    </head>
    <body>

        <div class="container">

            <div id="home" class="flex-column flex-center">

                <h1>
                    Personality to Job Quiz
                </h1>

                <a href="{{ url_for('quiz') }}" class="btn">start</a>

            </div>

        </div>

        <!-- <div class="topnav">
            <a class="active" href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('quiz') }}">Quiz</a>
        </div> -->

        <!-- <button class = "inner-switch" onclick="dark_mode()">dark mode</button> -->
        <!-- <a class = "hyperlink_button" href="{{ url_for('quiz') }}">Quiz</a> -->

        <!-- <script>
            function dark_mode(){
                var element = document.body;
                element.classList.toggle("dark");
            }
        </script> -->

    </body>
</html>