<!DOCTYPE html>
<html>
    <head>
        <title>Personality Quiz</title>
        <link rel="stylesheet" href="static/quiz.css">
    </head>
    <body>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <!-- <div class="topnav">
            <a href="{{ url_for('index') }}">Home</a>
            <a class="active" href="{{ url_for('quiz') }}">Quiz</a>
        </div> -->

<div class="main-container">

    
            <!-- <button class = "inner-switch" onclick="dark_mode()">dark mode</button> -->
        
            <div id="wrapper">

        <form action ="/submitquiz", method="POST">

            <h2>PERSONALITY QUIZ</h2>

            <div id="questions">

                <div class="question active" id="0">

                    <div class="container">

                        <span>are you ready?</span>

                </div>

                <center>
                    <input class = "radio-label" type="radio" name="0" value="yes" data-icon='yes'/>
                </center>

                <br>

                </div>

                {% for question in questions_list %}

                <div class="question" id="{{question.q_id}}">

                    <div class="container">


                        <span>{{question.question}}</span>

                    </div>

                    <div class="container">

                        <input class = "radio-label" type="radio" name="{{question.q_id}}" value="{{question.yes}}" data-icon='{{question.yes}}'/>

                        <input class = "radio-label" type="radio" name="{{question.q_id}}" value="{{question.no}}" data-icon='{{question.no}}'/>

                    </div>

                </div>

                {% endfor %}
                
                    <div class="question" id ="10">
                        <input type="submit" class = "form-submit-button" name="submitform" value="submit">
                    </div>

                    <br>
            </div>

        </form>

            <center>

                <button type="button" id="previous">Previous</button>
                <button type="button" id="next">Next</button>

            </center> 

    </div>

    </div>

        <script>

        setTimeout(function(){
            $("#radio").attr('checked','checked');
        },10);

            $("#previous").hide();


            $('#next').click(function(){

                var $current = $('.question.active');
                var id = $current.attr('id'); 

                var radios = document.querySelectorAll('input[type="radio"]:checked');
                if(radios.length > parseInt(id)){

                    if(id != "10"){
                        $('.question').removeClass('active');
                        $current.next().addClass('active');
                        $("#previous").show();

                        if(id == "9"){
                            $("#next").hide();
                        }
                    }
                }

            });
            
            $('#previous').click(function(){

                var $current = $('.question.active');
                var id = $current.attr('id'); 

                if(id != "0"){

                    $('.question').removeClass('active');
                    $current.prev().addClass('active');
                    $("#next").show();

                    if(id == "0"){
                        $("#previous").hide();
                    }
                }

            });

        </script>

    </body>
</html>