<!DOCTYPE html>
<html>
    <head>
        <title>Quiz Application</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        
        <h2>PERSONALITY QUIZ</h2>
             
            <button class = "inner-switch" onclick="dark_mode()">dark mode</button>

        <form action ="/submitquiz", method="POST">
                
            {% for question in questions_list %}
            <span>{{question.question}}</span> 
            
            <br>

            <label>
            <input type="radio" name="{{question.q_id}}" value="{{question.yes}}" required> 
            <span>{{question.yes}}</span>
            </label>

            <label>
            <input type="radio" name="{{question.q_id}}" value="{{question.no}}" required> 
            <span>{{question.no}}</span>
            </label>
            <br>
            {% endfor %}

                <input type="submit" class = "form-submit-button" name="submitform" value="submit">
            <br>
        </form>

        <script>
            function dark_mode(){
                var element = document.body;
                element.classList.toggle("dark");
            }
        </script>

    </body>
</html>