<!DOCTYPE html>
<html>
    <head>
        <title>Quiz Result</title>
        <link rel="stylesheet" href="static/submit.css">
    </head>
    <body>

        <button class = "inner-switch"><a href="{{ url_for('index') }}">Home</a></button>

        <div class="container">
        
        <div id="home" class="flex-column flex-center">

            <div id="wrapper">

                <h1>QUIZ RESULT</h1>

                <h2>{{r_value}}</h2>

            </div>

        </div>

        </div>

        


        <!-- <button class = "inner-switch" onclick="dark_mode()">dark mode</button>
        <br> -->

        <!-- <script>
            function dark_mode(){
                var element = document.body;
                element.classList.toggle("dark");
            }
        </script> -->

    </body>
</html>